<div>
  Test serwisu REST JAX-RS. Operacje CRUD. Persons count: {{(persons | async)?.length  }}
</div>
<div>
  <button mat-raised-button color="primary" (click)="openAddDialog()">Add person</button>
  <button mat-raised-button color="primary" (click)="refreshTable()">Refresh table</button>
</div>
<table>
  <thead>
    <th>fname</th>
    <th>lname</th>
    <th>city</th>
    <th>email</th>
    <th>tel</th>
    <th>id</th>
    <th>edit</th>
    <th>delete</th>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons | async">
      <td>{{person.fname}}</td>
      <td>{{person.lname}}</td>
      <td>{{person.city}}</td>
      <td>{{person.email}}</td>
      <td>{{person.tel}}</td>
      <td>{{person.id}}</td>
      <td>
        <button mat-raised-button color="primary" (click)="openEditDialog(person)">Edit</button>
      </td>
      <td>
        <button mat-raised-button color="primary" (click)="deletePerson(person.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>